@font-face {
  font-family: "iconfont"; /* Project id 3333651 */
  src: url('iconfont.woff2?t=1650079713918') format('woff2'),
       url('iconfont.woff?t=1650079713918') format('woff'),
       url('iconfont.ttf?t=1650079713918') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e66c";
}

.icon-lianjie:before {
  content: "\e6c8";
}

.icon-csdn:before {
  content: "\e60a";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-fenlei:before {
  content: "\e71b";
}

.icon-csdn1:before {
  content: "\e638";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-ziyuan60:before {
  content: "\e77a";
}

.icon-pinpaibiaoshi_douyin:before {
  content: "\e659";
}

